* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
:root {
	--main-color: rgb(29, 30, 30);
	--main-light-color: rgb(53, 54, 54);
	--main-third-color: rgb(89, 91, 91);
	--secondary-color: rgb(255, 255, 255);
	--customize-color: rgb(239, 149, 156);
	--main-light-color-text: 53, 54, 54;
	--secondary-color-text: 255, 255, 255;
}
body {
	font-weight: 400;
	font-size: 1.05rem;
	line-height: 1.3;
	font-family: "Roboto", sans-serif;
	background-color: var(--main-color);
	color: var(--secondary-color);
	margin-bottom: 2em;
}
.dark-background {
	visibility: hidden;
	background-color: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 500;
	opacity: 0.8;
}
