.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--main-light-color);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
.logo-section {
	display: flex;
	flex: 1;
}
.logo {
	width: 100px;
	height: 50px;
	margin-left: 50px;
}

.search-section {
	display: flex;
	align-items: center;
	flex: 1;
}
.search-genreType-container {
	position: relative;
	width: 130px;
}
.search-genreType-button,
.select-search-genreType {
	border: 2px solid var(--customize-color);
	background-color: var(--main-color);
	color: var(--secondary-color);
	font-family: "Roboto", sans-serif;
	font-size: 110%;
	outline: 0;
	width: 130px;
	height: 50px;
	border-radius: 24px;
	transition: 0.3s;
	cursor: pointer;
}
.search-genreType-button:hover,
.select-search-genreType:hover {
	background-color: var(--customize-color);
	border-color: var(--secondary-color);
	color: var(--main-color);
}
.search-genreType-list {
	position: absolute;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.3s;
}
.newList {
	transform: scaleY(1);
}

.search-bar-container {
	margin: 0.8em 0.1em;
	display: flex;
	align-items: stretch;
}
.search-bar {
	border: 2px solid var(--secondary-color);
	outline: 0;
	width: 350px;
	height: 50px;
	padding-left: 40px;
	border-radius: 24px;
	margin: 0 10px;
	background-color: var(--main-color);
	color: var(--secondary-color);
	font-family: "Roboto", sans-serif;
	font-size: 110%;
}
.search-button {
	border: 2px solid var(--secondary-color);
	outline: 0;
	height: 50px;
	width: 50px;
	border-radius: 25px;
	background: var(--main-color);
	color: var(--secondary-color);
	cursor: pointer;
	transition: 0.2s ease-in-out;
}
.search-button:hover {
	background-color: var(--secondary-color);
	color: var(--main-color);
}
.color-theme-section {
	display: flex;
	flex: 1;
	align-items: center;
	height: 3em;
	justify-content: right;
}
.custome-color-container {
	position: relative;
}
.dark-light-mode-button,
.custome-color-button,
.profile-button {
	border: 2px solid var(--secondary-color);
	outline: 0;
	height: 40px;
	width: 40px;
	border-radius: 20px;
	background: var(--main-color);
	color: var(--secondary-color);
	cursor: pointer;
	padding-top: 3px;
	padding-right: 1px;
	font-size: 150%;
	transition: 0.2s ease-in-out;
	margin-right: 0.8em;
}
.profile-container {
	display: flex;
	height: 3em;
	align-items: center;
}
.profile-button {
	height: 45px;
	width: 45px;
	border-radius: 22px;
	font-size: 170%;
}
.dark-light-mode-button:hover,
.custome-color-button:hover,
.profile-button:hover {
	background-color: var(--secondary-color);
	border-color: var(--main-color);
	color: var(--main-color) !important;
}
.select-custome-color-list {
	display: flex;
	position: absolute;
	left: -4.4em;
	bottom: -3.3em;
	width: 11em;
	height: 3em;
	justify-content: space-between;
	align-items: center;
	transform: scaleY(0);
	transform-origin: top;
	transition: 0.3s;
	padding-left: 4px;
	padding-right: 4px;
	border: 1px solid var(--secondary-color);
	background-color: var(--main-color);
	border-radius: 10px;
}
.select-custome-color-type {
	border: 2px solid var(--secondary-color);
	outline: 0;
	height: 30px;
	width: 30px;
	border-radius: 15px;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}
#custome-first {
	background-color: rgb(239, 149, 156);
}
#custome-second {
	background-color: rgb(198, 164, 149);
}
#custome-third {
	background-color: rgb(203, 179, 191);
}
#custome-fourth {
	background-color: rgb(149, 173, 182);
}
#custome-fifth {
	background-color: rgb(141, 161, 185);
}
.select-custome-color-type:hover {
	transform: scale(1.1) !important;
}
.newCustomeColorList {
	transform: scaleY(1);
}
.movie-added-watchList-section {
	position: absolute;
	display: flex;
	width: 100%;
	height: 3em;
	top: 6em;
	justify-content: center;
	align-items: center;
}
.movie-added-watchList-text {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--customize-color);
	background-color: var(--main-light-color);
	color: var(--secondary-color);
	font-family: "Roboto", sans-serif;
	font-size: 110%;
	outline: 0;
	height: 50px;
	border-radius: 24px;
	transition: 0.3s;
	padding: 0 2em;
	opacity: 0;
	transition: 0.3s;
	z-index: 10;
}
